<ion-header>
  <ion-toolbar color="tertiary">
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastrar Projeto</ion-title>
    <img src="../../../assets/logo.png" alt="logo" style="width:70px;" slot="start">
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">

  <p>Preencha os campos para inserir um novo projeto na nossa plataforma.</p>

  <form [formGroup]="newForm" (ngSubmit)="newSend()">

    <ion-list lines="full" class="ion-no-margin">

      <ion-item>
        <ion-label position="floating" color="primary">
          Título:

          <!-- Exibe feedback da validação -->
          <ion-text color="danger" *ngIf="newForm.controls.title.errors">
            <small *ngIf="newForm.controls.title.errors.required">* Obrigatório</small>
            <small *ngIf="newForm.controls.title.errors.minlength">* Inválido</small>
          </ion-text>

        </ion-label>
        <ion-input type="text" name="title" id="title" formControlName="title"></ion-input>
      </ion-item>

      <ion-item>

        <ion-label position="floating" color="primary">
          Slogan do projeto:

          <!-- Exibe feedback da validação -->
          <ion-text color="danger" *ngIf="newForm.controls.title.errors">
            <small *ngIf="newForm.controls.title.errors.required">* Obrigatório</small>
            <small *ngIf="newForm.controls.title.errors.minlength">* Inválido</small>
          </ion-text>

        </ion-label>
        <ion-input type="text" name="slogan" id="slogan" formControlName="slogan"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="primary">
          Descrição:

          <!-- Exibe feedback da validação -->
          <ion-text color="danger" *ngIf="newForm.controls.title.errors">
            <small *ngIf="newForm.controls.title.errors.required">* Obrigatório</small>
            <small *ngIf="newForm.controls.title.errors.minlength">* Inválido</small>
          </ion-text>

        </ion-label>
        <ion-input type="text" name="description" id="description" formControlName="description"></ion-input>
      </ion-item>

      

      <ion-item>
        <ion-label position="floating" color="primary">
         Categoria:
          <!-- Exibe feedback da validação -->
          <ion-text color="danger" *ngIf="newForm.controls.categoria.errors">
            <small *ngIf="newForm.controls.categoria.errors.required">* Obrigatório</small>
            <small *ngIf="newForm.controls.categoria.errors.minlength">* Inválido</small>
          </ion-text>

        </ion-label>
        <ion-select value="brown" okText="Ok" cancelText="Cancelar" formControlName="categoria">
          <ion-select-option *ngFor="let cdata of cat" value="{{cdata.nome}}">{{cdata.nome}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="primary">
         E-mail para contato:

          <!-- Exibe feedback da validação -->
          <ion-text color="danger" *ngIf="newForm.controls.title.errors">
            <small *ngIf="newForm.controls.title.errors.required">* Obrigatório</small>
            <small *ngIf="newForm.controls.title.errors.minlength">* Inválido</small>
          </ion-text>

        </ion-label>
        <ion-input type="text" name="email" id="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="primary">
       Telefone para contato:

          <!-- Exibe feedback da validação -->
          <ion-text color="danger" *ngIf="newForm.controls.title.errors">
            <small *ngIf="newForm.controls.title.errors.required">* Obrigatório</small>
            <small *ngIf="newForm.controls.title.errors.minlength">* Inválido</small>
          </ion-text>

        </ion-label>
        <ion-input type="text" name="tel" id="tel" formControlName="tel"></ion-input>
      </ion-item>

      


    </ion-list>

    <ion-button type="submit" expand="block" class="ion-margin-vertical" [disabled]="newForm.invalid">Salvar Alterações
    </ion-button>

  </form>

</ion-content>