<ion-header>
  <ion-toolbar color="tertiary">
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Meus Projetos</ion-title>
    <img src="../../../assets/logo.png" alt="logo" style="width:70px;" slot="start">
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-horizontal">
  <div id="ioncard"></div>
</ion-content>



<!-- <ion-card class="ion-no-margin ion-margin-vertical">
  <ion-card-header>
    <ion-card-title class="ion-text-center">{{projetos.title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <h1 class="ion-text-center"> {{projetos.slogan }}</h1>
    <ion-card-subtitle class="ion-text-center"> {{projetos.categoria }}</ion-card-subtitle>
    <p class="ion-text-center">{{ projetos.description }}</p>
    <h2 class="ion-text-center">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      Entre em contato com o(s) autor(es)
    </h2>
    <h3 class="ion-text email">
      <ion-icon name="mail-outline"></ion-icon> {{ projetos.email }}
    </h3>
    <h3 class="ion-text tel">
      <ion-icon name="call-outline"></ion-icon> {{ projetos.tel }}
    </h3>

  </ion-card-content>
</ion-card> -->