<ion-content fullscreen>
  <div class="topo">
    <div class="conteudo">
      <h2>"Como cadastrar meus projetos ?"</h2>
      <h1>LOGUE-SE PARA CADASTRAR SEUS PROJETOS</h1>
      <p>Logue-se rapidamente clicando no botão "LOGAR / CADASTRAR" abaixo, caso seja sua primeira vez, preencha um
        rápido formuário de cadastro.</p>

      <div class="button">
        <ion-button shape="round" color="success" (click)="logar()">Logar / Cadastrar</ion-button>
      </div>
      <p class="entrar-sem-cadastro" (click)="entrar()">não quero me cadasrar</p>
    </div>
  </div>
</ion-content>