<ion-header>
  <ion-toolbar color="tertiary">
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Page Not Found </ion-title>
    <img src="../../../assets/logo.png" alt="logo" style="width:70px;" slot="start">
  </ion-toolbar>
</ion-header>


  <ion-content>
    <img src="../../../assets/ee404.jpg">
    <h1 class="ion-text-center">Página não encontrada</h1>
    <p class="ion-text-center">Clique no botão abaixo para voltar para a página inicial</p>
    <ion-button expand="block" routerLink="/home" color="tertiary" style="margin-left:10%; margin-right:10%;">Voltar para home</ion-button>
  
  </ion-content>